/* Customize your main colors in :root variables */

@import '~antd/dist/antd.dark.css';

:root {
  --main-background-color: black;
  --card-background-color: white;
  --card-background-lighter-color: black;
  --main-text-color: black;
  --title-text-color: black;
}

body {
  background-color: var(--main-background-color);
  /*background: url('img/background.png');
  background-size: cover; */

  margin: 0;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 17px;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e8b10;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

h1,
h2,
p {
  color: var(--main-text-color);
}

h3 {
  font-weight: normal;
}

/* Candy Shop styling overrides */
.css-1wewypr {
  color: black;
}

.css-1ago99h {
  color: black;
}
